@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-ink-900 text-slate-100 font-sans;
}

::selection {
  background: rgba(154, 215, 255, 0.2);
}

a {
  @apply text-accent-500 hover:text-white transition;
}
